* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: #FAF4F2;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style: none;
}
