header {
    nav {
        .menu {
            margin-left: 50px;
        }
    }

    .banner {
        .title {
            width: 50% !important;
        }

        .parag {
            width: 46%;
        }
    }
}